@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Oxanium:wght@200..800&display=swap');

:root {
	--surface-1: hsl(104, 12%, 56%);
	--surface-2: hsl(104, 12%, 66%);
	--surface-3: hsl(104, 12%, 22%);
	--surface-4: hsl(104, 12%, 36%);
	--text-1: hsl(102, 21%, 7%);
	--text-2: hsl(104, 12%, 28%);
	--text-3: hsl(28, 42%, 91%);
	--text-4: hsl(177, 31%, 24%);
	--border: hsl(103, 11%, 12%);
	--link: hsl(44, 12%, 56%);
	--radial-1: hsl(80, 8%, 42%);
	--radial-2: hsl(104, 12%, 22%);
	--shadow-1: hsl(104, 12%, 10%);
	--shadow-2: hsl(104, 12%, 20%);
	--shadow-3: hsl(104, 12%, 30%);
	--shadow-4: hsl(104, 12%, 40%);
	--shadow-5: hsl(104, 12%, 50%);

	--space-sm: var(--size-3);
	--space-lg: var(--size-5);

	--font-size-sm: var(--font-size-0);
	--font-size-body: 1.125rem;
	--line-height-body: 1.6em;
	--font-weight-normal: var(--font-weight-5);
	--font-weight-bold: var(--font-weight-6);
	--font-weight-hero: var(--font-weight-8);
	--letter-spacing-body: 0.03em;
	--letter-spacing-title: -0.03em;

	--font-body: 'Outfit', sans-serif;
	--font-title: 'Oxanium', sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	background-image: url('/mechindexbg.svg'),
		linear-gradient(
			166deg,
			var(--surface-2) 0%,
			var(--surface-1) 30%,
			var(--surface-1) 65%,
			var(--surface-4) 100%
		);
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
	background-color: var(--surface-1);
	color: var(--text-1);
	font-family: var(--font-body);
	font-size: var(--font-size-body);
	letter-spacing: var(--letter-spacing-body);
	font-weight: var(--font-weight-normal);
	line-height: var(--line-height-body);
}

a {
	color: inherit;
	text-decoration: none;
}

a :hover {
	color: var(--text-4);
}

.main {
	display: grid;
	gap: 6rem;
	place-content: center;
}

.wrapper {
	display: grid;
	align-items: center;
}

.button {
	-webkit-font-smoothing: antialiased;
	touch-action: manipulation;
	border-radius: var(--radius-2);
	cursor: pointer;
	display: inline-grid;
	gap: var(--space-sm);
	grid-auto-flow: column;
	padding: 12px 24px;
	place-items: center;
	text-align: center;
	transition: background-color 0.2s var(--ease-1);
}

#right,
#left {
	color: var(--surface-4);
	background-color: var(--surface-1);
	border: 2px solid var(--surface-4);
	border-radius: 12px;
	font-family: var(--font-body);
	font-weight: var(--font-weight-bold);
	transition: all ease-out 0.2s;
}

#right:hover,
#left:hover {
	cursor: pointer;
	color: var(--surface-1);
	background: var(--surface-4);
	border: 2px solid var(--surface-1);
}

#left:active {
	box-shadow:
		var(--shadow-1) 5px 5px,
		var(--shadow-2) 10px 10px,
		var(--shadow-3) 15px 15px,
		var(--shadow-4) 20px 20px,
		var(--shadow-5) 25px 25px;
}

#right:active {
	box-shadow:
		var(--shadow-1) -5px 5px,
		var(--shadow-2) -10px 10px,
		var(--shadow-3) -15px 15px,
		var(--shadow-4) -20px 20px,
		var(--shadow-5) -25px 25px;
}

nav,
footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-top: 16px;
	width: 100%;
}

@media (max-width: 770px) {
	.main {
		padding-inline: 16px;
	}
	footer {
		display: block;
		padding-top: 4px;
	}
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
	.carousel,
	.mech-overview {
		grid-row-start: 1;
		grid-column: 1 / 3;
	}
	.column-two {
		justify-self: end;
	}
	#right,
	#left {
		padding-inline: 56px;
		padding-block: 30px;
		font-size: 64px;
		line-height: 1.6;
	}
}

@media (min-width: 771px) {
	#right,
	#left {
		padding-inline: 0.25em;
		padding-block: 0.5em;
		font-size: 96px;
		line-height: 1.6;
	}
	.wrapper {
		grid-template-columns: auto 1fr auto;
	}
}
